In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.duplicated().sum()

0

In [6]:
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [9]:
X = df.drop(columns=['Purchased'], axis=1)
X.head()

    User ID  Gender  Age  EstimatedSalary
0  15624510    Male   19            19000
1  15810944    Male   35            20000
2  15668575  Female   26            43000
3  15603246  Female   27            57000
4  15804002    Male   19            76000

In [10]:
y = df['Purchased']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

for column in X.select_dtypes(include='object').columns:
    X[column] = label_encoder.fit_transform(X[column])

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [15]:
from sklearn.linear_model import LogisticRegression
logistic_regression = LogisticRegression()

logistic_regression.fit(X_train, y_train)

LogisticRegression()

In [16]:
y_pred = logistic_regression.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score

print(f"Accuracy Score: {accuracy_score(y_test, y_pred)*100:.3f}%")

Accuracy Score: 73.750%

- download data
- read data into a dataframe
- drop duplicates
- drop null values
- check for outliers
- encoding
- train test split
- make model
- make prediction
- check accuracy